<div class="home">
  <div class="home__search">
      <ion-searchbar
        color="dark" placeholder="{{'searchPlaceholder' | translate}}" [(ngModel)]="searchText"
        (ionChange)="searchImage()" (ionClear)="clearSearch()" showClearButton="" type="text" class="home__search">
      </ion-searchbar>
  </div>
  <div class="home__imagesList">
    <cdk-virtual-scroll-viewport [itemSize]="dynamicItemSize" [minBufferPx]="dynamicItemSize*2" [maxBufferPx]="dynamicItemSize*3" class="home__virtualScroll">
      <div *cdkVirtualFor="let image of imagesList" class="home__imageBox" #imageBox>
        <ion-card>
          <img [src]="image.photo" [alt]="image.text" (error)="imageLoadOnError(image)" class="home__image">
          <ion-card-header>
            <ion-card-subtitle>#{{image.id}}</ion-card-subtitle>
            <ion-card-title>{{image.text | titlecase}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <ion-text color="warning" class="home__text" *ngIf="imagesList.length === 0">
        <h2>{{'searchEmpty' | translate}}</h2>
      </ion-text>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
