.home {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__search {
    width: 100%;
    max-width: 500px;
    margin: 1.5rem auto 0 auto;
  }

  &__imagesList {
    height: 100%;
  }

  &__imageBox {
    width: auto;
    max-width: 500px;
    margin: auto;
  }

  &__image {
    height: auto;
    aspect-ratio: 1;
  }

  &__text {
    grid-column: span 6;
    text-align: center;
  }

  &__virtualScroll {
    height: 100%;
  }
}
