.home-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .search-container {
    display: flex;
    padding: 1.5rem 1.5rem 0;
    justify-content: center;
  }

  .images-container {
    height: 100%;

    .image-box {
      width: 500px;
      margin: auto;
    }

    cdk-virtual-scroll-viewport {
      height: 100%;
    }

    .warning-search {
      grid-column: span 6;
      text-align: center;
    }
  }

  img {
    height: auto;
    aspect-ratio: 1;
    background: #fff;
  }
}
